body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    padding: 15px;
    background-color: #bde2fc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    display: none;
}

.field-info{
    font-size: 14px;
    color: #8a8a8a;
    font-style: italic;
    margin: 6px auto;
}


@media (max-width: 768px) {
    .container {
        margin: 20px auto;
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    label {
        font-size: 12px;
    }

    input {
        font-size: 12px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    #result {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 10px auto;
        padding: 15px;
    }

    h1 {
        font-size: 18px;
    }

    label {
        font-size: 11px;
    }

    input {
        font-size: 11px;
        padding: 7px;
    }

    button {
        font-size: 13px;
        padding: 9px;
    }

    #result {
        font-size: 13px;
    }
}
